
  <title>Generic Medicines</title>
  <link rel="stylesheet" type="text/css" href="/css/style1.css">
  <link rel="stylesheet" type="text/css" href="/css/rating.css">
    <link rel="stylesheet" type="text/css" href="/css/candle.css">
  <script src="vrem.js"></script>
  <video loop autoplay muted>
    <source src="video1.mp4" type="video/mp4">
  </video>
  
          
        <% if (len == 0) { %>
          <body class="bg-nav bg1">
            <div id="carouselExampleCaptions" class="carousel-slide" background="./img/team-1.png" ba style="z-index: 0;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div style="padding-top: 3em;height: 2px;">    
                  </div>
                <div id="login-form-wrap" style="margin-top: 25px;margin-left: -40px;transform: translateX(20px);">    
            <div class="ctarg" style="margin-bottom: -300px;">
              <section id="about" class="about section-padding" style="padding-top: 120px;margin-left: -20px;"  data-aos="fade-up" data-aos-delay="140" data-aos-duration="1000">
                <h1 align="center">SORRY, NO MEDICINES FOUND!</h1>
                      <div class="d-flex justify-content-center">
                        <a class="btn btn12 mx-auto mt-auto" align="center" style="background-color:rgb(16, 8, 87)' ;" href="http://localhost:5000/search">GO BACK TO SEARCH PAGE</a>
            
                      </div>
            </section>
            <div style= "margin-top: 300px; transform: translateY(-100px) ">
              <div class="wrapper">
                <div class="candles">
                  <div class="light__wave"></div>
                  <div class="candle1">
                    <div class="candle1__body">
                      <div class="candle1__eyes">
                        <span class="candle1__eyes-one"></span>
                        <span class="candle1__eyes-two"></span>
                      </div>
                      <div class="candle1__mouth"></div>
                    </div>
                    <div class="candle1__stick"></div>
                  </div>
                  
                  <div class="candle2">
                    <div class="candle2__body">
                      <div class="candle2__eyes">
                        <div class="candle2__eyes-one"></div>
                        <div class="candle2__eyes-two"></div>
                      </div>
                    </div>
                    <div class="candle2__stick"></div>
                  </div>
                  <div class="candle2__fire" style="transform: translateX(-14px) translateY(-10px);"></div>
                  <div class="sparkles-one"></div>
                  <div class="sparkles-two"></div>
                  <div class="candle__smoke-one">
              
                  </div>
                  <div class="candle__smoke-two">
              
                  </div>
                  
                </div>
                <div class="floor">
                </div>
                
              
              </div>
            </div>
            </div>
        <% } else { %>
          <body class="bg-nav">
  <div id="carouselExampleCaptions" class="carousel-slide" background="./img/team-1.png" ba style="z-index: 0;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="padding-top: 3em;height: 2px;">    
        </div>
      <div id="login-form-wrap" style="transform: translateX(20px);">
  
  <div><h1 align="left" style="margin-left: 250px;"><a href="http://localhost:5000/search" align="left" style="margin-bottom: -66px;color: blue;"><i  class="bi bi-arrow-left"></i></a>&emsp;&emsp;&emsp;&ensp;<span> GENERIC MEDICINES FOR YOU</span></h1>
    
    <% for (var i = 0; i < len; i++) { %>
    <div data-aos="fade-up"data-aos-duration="1000">
      <div class="container1" style=" color: white ;margin-bottom: 20px ;padding-top: 60px;width: 1030px;margin-left: 30px;transform: scale(1.2);z-index: 1;">
        <div class="photo-card" style="height: 240.812px;width: 962px;/*margin: 34px;*/margin-top: 62;/*transform: scale(1.15);*/position: static;margin-right: 13px;margin-bottom: 44px;padding: 0;padding-left: 0px;margin-left: 190px;background: rgb(15,6,69);height: 3;border-radius: 1em;">
            <div class="photo-details" style="width: 730px;height: 159.8px;transform: scale(1);border-radius: 0px;">
                <h1 style="height: 0;transform: translateX(-350px) translateY(10px);font-size: 15px;"><span><%= i+1 %></span></h1>
                <div class="pt-3 p-lg-4 " style="transform: translateX(20px) translateY(5px);">
                  <h4 style="height: 17.5px;font-weight: bold;margin-top: -10px;font-size: 19.5px;margin-bottom: 30.825px;width: fit-content;margin-left: -4px;transform: translateX(px) translateY(0px);">Medicine :&nbsp;</h4>
                <p style="margin-top: -16px;font-size: 16px;height: 80px;margin-left: -3px;width: fit-content;transform: translateX(0px) translateY(13px);">Medical Condition :&nbsp;</p>
                <br>
                <h5 style="height: 0px;margin-top: -23px;font-size: 19.5px;transform: translateX(90px) translateY(-127px);color: rgb(255, 255, 255);text-align: left;"><%= med[i] %></h5> <h5 style="font-size: 24.5px;font-size: 16px;transform: translateX(132px) translateY(-89px);color: rgb(255, 255, 255);text-align: left;z-index: 2;"><%= condition[i] %></h5>
                 <div style="margin-left: -3.6px; margin-top: 21px;">
                  <p align="left" style=" width: fit-content ;transform: translateY(-111px);margin-bottom: -4px;">Cost &nbsp; :&nbsp;&nbsp;<%= cost[i] %></p>
                  <p align="left" style="transform: translateY(-111px); margin-bottom: -136px; width: 300x;">Side Effects&nbsp; :<p align="left" style="height: 20px;margin-left: 100px;width : 820px;transform: translateX(0px) translateY(2.5px);"><%= side[i] %></p></p>
                  <div style="margin-top: -96px; scale: 0.37;margin-left: -20px;transform: translateY(220px);">
                    <div style="font-size: 38.5px;padding-top: -20px; padding-bottom: 20px; margin-left: -547px ;height: 0px;justify-content: left;text-align: left;transform: translateX(0px) translateY(30px)">Rating</div>
                    <br>
                    <h4 style="height: 17.5px;margin-top: 2px ;font-size: 38.5px;margin-bottom: 3.825px;margin-left: 20px;transform: translateX(-450px) translateY(-40px);">
                        &nbsp;<div class="rating" style="margin-left: 300px;" ><%= rating[i] %></div></h4>
                   </div>
                 </div>
                 </div>
                
            </div>
        </div>
    </div>
    </div>
    <% } %>
    <% if (len>=5) { %>
    <a href="javascript:void(0)" data-aos="fade-up"data-aos-duration="1000" onclick="scrollToDiv('carouselExampleCaptions')" class="top">Back to Top &#8593;</a>
      <% } %>

    <% } %>

<div style="padding-bottom: 40px;"></div>
</div>
      </div><!--login-form-wrap-->
      </div>
    </div>
  </div>
  <!-- body ends -->
</body>
